/* ROI Calculator main css */


html,body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
}

h1 {
	text-align: center;
}

.main-container{
	width: 100%;
}

.roi-section{
	height: 500px;
	width: 100%;
	position: relative;
}

.roi-section h2{
	text-align: center;
}

.market, .agents, .comp-structure, .output {
	background-size: cover;
	overflow: hidden;
}

.market, .agents, .comp-structure {
	width: 33.333%;
	float:left;
}

.overlay {
	background-color: rgba(255, 255, 255, .5);
	height: 100%;
	width: 100%;
}

.overlay:first-child {
	margin-top: 0;
	padding-top: 1em;
}

/* Containers for each section */
.market{
	background-image: url("img/market.jpeg");
}

.agents{
	background-image: url("img/team.jpeg");
}

.comp-structure{
	background-image: url("img/financials.jpeg");
}

.big-submit-button {
	clear: both;
	padding: 3em;
	text-align: center;
}

.output{
	background-image: url("img/roi.jpeg");
	height: 100%;
	clear: left;
}

.form-container{
	margin-top: 50px;
	width: 100%;
}

form{
	text-align: center;

}
input, label{
	height: 30px;
	width: 50%;
	margin: 20px 0;
}
